.App {
  background-color: #232f3e;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.calcInput {
  color: white;
}

.builds {
  background-color: #161e2d;
  border: solid 3px white;
  border-radius: 8px;
  height: 90vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 10px 10px 19px -1px rgba(0, 0, 0, 1);
}

.build {
  color: white;
  background-color: #0099d9;
  height: 25%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
  box-shadow: 10px 10px 19px -1px rgba(0, 0, 0, 1);
  font: 700 40px/24px AEmb, Helvetica, Arial, sans-serif;
}

.build:hover {
  cursor: pointer;
  box-shadow: none;
  background-color: lightblue;
}

.build:focus {
  box-shadow: none;
  background-color: lightblue;
}

.buildPrices {
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font: 700 23px AEmb, Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
}

.buildName {
  height: 18%;
  padding-top: 6px;
  border-bottom: 2px solid;
  text-shadow: 2px 2px 3px black;
  letter-spacing: 2px;
}

.calculator {
  border: solid 3px white;
  color: white;
  height: 640px;
  width: 600px;
  background-color: #161e2d;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  box-shadow: 10px 10px 19px -1px rgba(0, 0, 0, 1);
}

.calculatorInputs {
  color: white;
  height: 240px;
  width: 600px;
  background-color: #161e2d;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.calculatorRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font: 700 30px/24px AEmb, Helvetica, Arial, sans-serif;
}

.calculatorRowProfit {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font: 700 30px/24px AEmb, Helvetica, Arial, sans-serif;
}

.profit {
  width: 35%;
  height: 100px;
  background-color: #0099d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 700 50px/24px AEmb, Helvetica, Arial, sans-serif;
  border-radius: 8px;
}

.calcBottom {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.amazonMargin {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: end;
}

.saveButton {
  background-color: #0099d9;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}
.saveButton:hover {
  background: linear-gradient(to bottom, #0099d9 5%, #33bdef 100%);
  background-color: #0099d9;
}
.saveButton:active {
  position: relative;
  top: 1px;
}

h3 {
  width: 100%;
  font: 700 40px/24px AEmb, Helvetica, Arial, sans-serif;
}
input {
  width: 55%;
  background-color: #202a36;
  content: "$";
  color: white;
  font: 700 20px/24px AEmb, Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  border: none;
  outline: none;
  height: 45px;
  border-radius: 8px;
  margin-left: 5px;
  padding-left: 10px;
}

span {
  width: 35%;
}
